.footer{
    width: 100%;
    background-color: white;
    padding: 30px;

}
.login-footer{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 20px;
    padding: 0px 50px;
}
.lans,.login-options{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    font-size: 12px;
    margin-bottom: 12px;
    color: grey;
}
.lans li,
.login-options li{
    transition: all 0.2s;
}
.lans li:hover,
.login-options li:hover{
    cursor: pointer;
    text-decoration: underline;
}
.lans button{
    padding: 0px 8px;
}
.login-options{
    margin-top: 12px;
}